@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.14 0 286);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.14 0 286);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.14 0 286);
  --primary: oklch(0.21 0.01 286);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.97 0 286);
  --secondary-foreground: oklch(0.21 0.01 286);
  --muted: oklch(0.97 0 286);
  --muted-foreground: oklch(0.55 0.01 286);
  --accent: oklch(0.97 0 286);
  --accent-foreground: oklch(0.21 0.01 286);
  --destructive: oklch(0.64 0.21 25);
  --destructive-foreground: oklch(0.99 0 0);
  --border: oklch(0.92 0 286);
  --input: oklch(0.87 0.01 286);
  --ring: oklch(0.14 0 286);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.14 0 286);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.14 0 286);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.14 0 286);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.99 0 0);
  --primary-foreground: oklch(0.21 0.01 286);
  --secondary: oklch(0.27 0.01 286);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.21 0.01 286);
  --muted-foreground: oklch(0.65 0.01 286);
  --accent: oklch(0.21 0.01 286);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.64 0.21 25);
  --destructive-foreground: oklch(0.99 0 0);
  --border: oklch(0.27 0.01 286);
  --input: oklch(0.27 0.01 286);
  --ring: oklch(0.87 0.01 286);
}

@theme {
  --font-outfit: "Outfit", sans-serif;
}